@import url("components/album-image.css");
@import url("components/button.css");
@import url("components/canvas.css");
@import url("components/card.css");
@import url("components/container.css");
@import url("components/icon.css");
@import url("components/iframe.css");
@import url("components/navbar.css");
@import url("components/petal.css");

* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}


:root {
  --blue: #A9BCD0;
  --grey: #5E6572;
  --dark-blue: #4d5f89;
  --dark-grey: #2a3445;
  --selected: #ed9ccd;
  --pink: #fbd7ed;
  --black: #1B1B1E;
  --light: rgb(232, 245, 248);
  --shadow: 0 0px 15px rgba(0, 0, 0, 0.6);
}

h1 {
  color: var(--light);
}

body {
  background-color: var(--dark-blue);
  margin: 0;
  width: 100%;
  position: relative;
}

.main {
  scroll-snap-type: y mandatory;
}

a {
  text-decoration: none;
  color: inherit;
}

.banner h1 {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  font-size: 5rem;
  color: white;
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.banner .banner-text {
  display: flex;
}

/* .upright-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
  margin: 0;
} */

.project-all h1 {
  text-align: center;
}


.project-all {
  width: 70%;
}
