@import url("components/album-image.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/container.css");
@import url("components/icon.css");
@import url("components/iframe.css");
@import url("components/keyframes.css");
@import url("components/navbar.css");

:root {
  --blue: #eef6fe;
  --grey: #5E6572;
  --dark-blue: #4d5f89;
  --dark-grey: #2b3546;
  --grad-blue: #42638f;
  --grad-dark-blue: #2b366e;
  --grad-darker-blue: #1d1a7b;
  --grad-darkest-blue: #172783;
  --selected: #c172a0;
  --pink: #eebddc;
  --black: #1B1B1E;
  --light: rgb(232, 245, 248);
  --shadow: 0 0px 15px rgba(0, 0, 0, 0.6);
}

html {
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: var(--dark-blue);
  margin: 0;
  width: 100%;
  position: relative;
  overscroll-behavior-y: none;
}

h1, .contact h3 {
  color: var(--light);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h2 {
  color: var(--light);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/*
h {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
} */

.main {
  overflow: auto;
  scroll-snap-type: y mandatory;
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  background-image: linear-gradient(
    -45deg,
    var(--grad-blue),
    var(--grad-darker-blue),
    rgba(104, 84, 20, 0.429),
    var(--grad-dark-blue),
    rgba(113, 14, 93, 0.35),
    var(--grad-darkest-blue)
  );
}

.section-title {font-size: 3rem;}

.hide {opacity: 0;}

a {
  text-decoration: none;
  color: inherit;
}

.highlight {
  color: var(--selected);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.project-all h2, .music-all h2, .about-card h3, .album-card-overlay {text-align: center;}

@media only screen and (max-width: 600px) {
  .project-all, .music-all {
    width: 83%;
  }
}

@media only screen and (min-width: 600px) {
  .project-all, .music-all {
    width: 78%;
  }
}

@media only screen and (min-width: 820px) {
  .project-all, .music-all {
    width: 80%;
  }
}

@media only screen and (min-width: 1210px) {
  .project-all, .music-all {
    width: 70%;
  }
}
