@import url("components/album-image.css");
@import url("components/button.css");
@import url("components/canvas.css");
@import url("components/card.css");
@import url("components/container.css");
@import url("components/dividing-bar.css");
@import url("components/icon.css");
@import url("components/iframe.css");
@import url("components/navbar.css");
@import url("components/petal.css");

* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}


:root {
  --blue: #c9dbee;
  --grey: #5E6572;
  --dark-blue: #4d5f89;
  --dark-grey: #2b3546;
  --grad-blue: #42638f;
  --grad-dark-blue: #2b366e;
  --grad-darker-blue: #1d1a7b;
  --grad-darkest-blue: #172783;
  --selected: #ed9ccd;
  --pink: #fbd7ed;
  --black: #1B1B1E;
  --light: rgb(232, 245, 248);
  --shadow: 0 0px 15px rgba(0, 0, 0, 0.6);
}

h1 {
  color: var(--light);
}

body {
  background-color: var(--dark-blue);
  margin: 0;
  width: 100%;
  position: relative;
  overscroll-behavior-y: none;
}

.main {
  scroll-snap-type: y mandatory;
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  background-image: linear-gradient(
    -45deg,
    var(--grad-blue),
    var(--grad-darker-blue),
    rgba(104, 84, 20, 0.429),
    var(--grad-dark-blue),
    rgba(113, 14, 93, 0.35),
    var(--grad-darkest-blue)
  );
}

@keyframes gradient {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 25% 50%;
  }
  100% {
    background-position: 0% 25%;
  }
}

.section-title {
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.highlighted-word {
  color: var(--selected);
}

.banner h1 {
  font-size: 5rem;
  color: white;
}

.project-all h1 {
  text-align: center;
}


.project-all {
  width: 70%;
}

.music h1 {
  margin-bottom: 20px;
}
