@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as vars;

footer {
  @include mixin.flex-row;
  justify-content: space-between;
  margin-bottom: 2rem;

  .footer-left, .footer-right {
    @include mixin.flex-row;
  }

  .footer-left  { gap: 1rem; }
  .footer-right {
    gap: 0.5rem;
  }

  .footer-right {
    width: 210px;
    justify-content: space-between;

    button {
      justify-self: start;
    }
  }
}
