@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as vars;

header.main {
  @include mixin.flex-col;
  align-items: normal;
  gap: 1rem;
  margin: 10rem 0;

  p {
    margin: 1rem 0;
  }
}
