@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as vars;

nav {
  @include mixin.flex-row;
  gap: 1rem;
  justify-content: center;
  height: 10dvh;
  background: transparent;
  color: vars.$light-text;
  padding: vars.$page-padding-xs;
}
