@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as vars;

section#projects {
  margin: 5rem 0;

  header.projects {
    @include mixin.flex-col;
    align-items: flex-start;

    h2 {
      margin: 0;
    }

    .subheader {
      @include mixin.flex-row;
      gap: 1rem;
      width: 100%;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15rem;
    margin-top: 5rem;
  }

  #back-to-projects {
    @include mixin.flex-row;
    justify-content: center;
    padding: 0;
    margin-top: 5rem;
  }
}
