@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as vars;

section#projects {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
  }
}

@media (min-width: 768px) {
  section#projects {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
