@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as vars;

section#skills {
  margin: 5rem 0;

  .card-and-button-container {
    @include mixin.flex-col;
    gap: 2rem;
  }

  div.skills-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    padding: 1rem 0;
    box-shadow: vars.$light-shadow;
    border-radius: 10px;
  }
}

@media (min-width: 768px) {
  section#skills {
    .card-and-button-container {
      .skills-icons {
        grid-template-columns: repeat(5, 1fr);
      }
    }
  }
}

@media (min-width: 1200px) {
  section#skills {
    .card-and-button-container {
      .skills-icons {
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }
}
