@use '../abstracts/variables' as vars;

@mixin flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin btn-style {
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem 1rem;
  background: transparent;
  color: inherit;
  border: 1px solid vars.$dark-blue;
  border-radius: 10px;

  &:hover {
    background-color: vars.$dark-blue;
    color: vars.$light;
  }
}

@mixin btn-style-dark {
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem 1rem;
  background: transparent;
  border: 1px solid vars.$light;
  border-radius: 10px;
}
