// colors
$light-text: #e6f2ff;
$dark-blue: #030e2a;
$light: rgb(247, 253, 255);
$selected: #004f9e;
$light-selected: #80befd;
$shadow: 0 0px 6px rgba(0, 2, 33, 0.316); // light theme
$light-shadow: 0 0px 6px rgba(247, 253, 255, 0.179); // dark theme
$hover-blue: #abd5ff;

// padding / margin
$page-padding-xs: 0 1rem;
$page-padding-md: 0 18rem;
$page-padding-lg: 0 20rem;
