// colors
$light-text: #e6f2ff;
$grey: #5E6572;
$dark-blue: #030e2a;
$dark-grey: #2b3546;
$grad-blue: #42638f;
$grad-dark-blue: #2b366e;
$grad-darker-blue: #1d1a7b;
$grad-darkest-blue: #172783;
$selected: #004f9e;
$pink: #eebddc;
$black: #1B1B1E;
$light: rgb(232, 245, 248);
$shadow: 0 0px 6px rgba(0, 2, 33, 0.6);

// padding / margin
$page-padding-xs: 0 1rem;
$page-padding-md: 0 2rem;
$page-padding-lg: 0 6rem;
