@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as vars;

@media (prefers-color-scheme: dark) {
  body.dark {
    color: vars.$light;
    background-color: vars.$dark-blue;
  }

  hr.dark {
    background-color: vars.$light;
  }

  span.highlight.dark {
    color: vars.$light-selected;

    &:hover {
      color: vars.$light-selected;
    }
  }

  :is(#theme-btn, #lang-btn).dark {
    color: vars.$light;
  }

  #theme-btn.dark {
    border: 1px solid vars.$light;

    &:hover {
      color: vars.$dark-blue;
      background: vars.$light;
    }
  }

  #lang-btn.dark {
    border: 1px solid vars.$light;

    &:hover {
      color: inherit;
      background: inherit;
    }
  }

  .project-card__link.dark {
    border: 1px solid vars.$light;

    &:hover {
      background-color: vars.$light;
      color: vars.$dark-blue;
    }
  }

  header.main p:has(.highlight.heading:hover) {
    .highlight.heading.dark:hover {
      color: vars.$light-selected;
    }
  }

  .box.dark {
    border-top: 1px solid vars.$light;
    border-bottom: 1px solid vars.$light;
  }

  :is(button.filter, button#reset-filter).dark {
    background: vars.$light;

    &:hover {
      background-color: vars.$hover-blue;
    }

    &:active {
      background-color: vars.$light-selected;
    }
  }

  .selected.dark {
    background-color: vars.$light-selected !important;
    color: vars.$dark-blue !important;
  }

  .splide.dark {
    box-shadow: vars.$dark-shadow;
  }

  a#arrow-icon.dark {
    background: vars.$light;
    border: 1px solid vars.$light;

  }

  section#skills {
    .skills-radio.dark {
      border: 1px solid vars.$light;
    }

    .skills-icons.dark {
      box-shadow: vars.$dark-shadow;
      color: vars.$light;
    }

    .radio-label.dark {
      &:hover {
        background-color: vars.$hover-blue;
        color: vars.$dark-blue;
      }
    }

    .radio-label.dark:not(:last-of-type) { border-right: 1px solid vars.$light; }
  }

  footer {
    .footer-icon.dark {
      color: vars.$light;
    }
  }
}
