@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as vars;

// project-card buttons (links) are in _card.scss

nav {
  button {
    @include mixin.btn-style;
    height: 50px;
    padding: 0;
    transition: all 0.3s ease-in-out;
  }

  #theme-btn {
    width: 60px;

    &:hover {
      border-radius: 50%;
      color: vars.$light;
      background-color: vars.$dark-blue;
    }
  }

  #lang-btn {
    font-size: 1.5rem;
    width: 120px;

    &:hover {
      border-radius: 30px;
      font-weight: 800;
    }
  }
}

/* back to home arrow */
a#arrow-icon {
  @include mixin.btn-style;
  background: vars.$light;
  display: inline-block;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 1000;
  transition: all 0.3s ease;

  &:hover {
    border-radius: 50%;
  }

  i {
    font-size: 1.5rem;
    color: vars.$dark-blue;
  }
}

.filter-btns {
  @include mixin.flex-row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1.5rem 0;

  button {
    @include mixin.btn-style;
    width: 30%;
    margin: 0;
    padding: 0.6rem 0;
    font-size: 0.8rem;
    text-align: center;
    transition: all 0.2s ease-in-out;

    button.selected {
      background-color: vars.$dark-blue;
      color: vars.$light-text;
    }

    &:hover {
      background-color: vars.$hover-btn;
    }

    &:active {
      background-color: vars.$selected;
    }
  }
}

button#reset-filter {
  @include mixin.btn-style;
  margin: 0;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: vars.$hover-btn;
  }

  &:active {
    background-color: vars.$selected;
  }
}

/* skills radio buttons */
section#skills {
  .skills-radio {
    border: 1px solid vars.$dark-blue;
    border-radius: 20px;
    width: 90%;
  }

  .top, .bottom {
    @include mixin.flex-row;
  }

  .top { border-bottom: 1px solid vars.$dark-blue; }

  .radio-input {display: none;}

  .radio-label {
    cursor: pointer;
    padding: 10px 14px;
    width: 50%;
    font-size: 1rem;
    text-align: center;
    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: vars.$hover-btn;
    }
  }

  .radio-label.lang   { border-radius: 18px 0 0 0 }
  .radio-label.fworks { border-radius: 0 18px 0 0 }
  .radio-label.tools  { border-radius: 0 0 0 18px }
  .radio-label.db     { border-radius: 0 0 18px 0 }

  .radio-label:not(:last-of-type) {border-right: 1px solid vars.$dark-blue;}

  .radio-input:checked + .radio-label {
    background-color: vars.$selected;
    color: vars.$light-text;
    font-weight: 600;
  }
}

#copy-btn {
  cursor: copy;
  background: transparent;
  border: none;

  &:disabled {
    cursor: not-allowed;
  }
}


@media (min-width: 768px) {
  section#skills {
    .skills-radio {
      @include mixin.flex-row;
      width: auto;
    }

    .top {
      border-bottom: none;
      border-right: 1px solid vars.$dark-blue;
    }

    .radio-label.lang   { border-radius: 18px 0 0 18px; }
    .radio-label.fworks,
    .radio-label.tools  { border-radius: 0px; }
    .radio-label.db     { border-radius: 0 18px 18px 0; }
  }
}

@media (min-width: 1200px) {
  section#skills {
    .skills-radio {
      width: 90%;
    }

    .top, .bottom {
      width: 100%;
    }

    .top {
      border: none;
      align-items: center;
    }

    .radio-label.fworks { border-right: 1px solid vars.$dark-blue; }


    // .radio-label.lang   { border-radius: 18px 18px 0 0; }
    // .radio-label.fworks,
    // .radio-label.tools  { border-radius: 0px; }
    // .radio-label.db     { border-radius: 0 0 18px 18px; }
  }

  .filter-btns {
    button {
      width: 20%;
    }
  }
}
