@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as vars;

/* back to home arrow */
.home-arrow {
  padding: 10px;
  margin: 30px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  background-color: var(--black);
  display: inline-block;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 100;
  transition: opacity 0.3s, visibility 0.3s ease;
}

.home-arrow i {
  font-size: 20px;
  color: var(--light);
}

/* to about section arrow */
.about-chevron {
  font-size: 3rem;
  color: var(--light);
  opacity: 0.5;
  text-align: center;
  margin-top: 170px;
}

.about-chevron.slide-up-dark {
  animation-delay: 5s;
  animation: slideUpDark 3s ease;
}

/* skills radio buttons */
section#skills {
  .skills-radio {
    border: 1px solid vars.$dark-blue;
    border-radius: 20px;
    width: 90%;
  }

  .top, .bottom {
    @include mixin.flex-row;
  }

  .top { border-bottom: 1px solid vars.$dark-blue; }

  .radio-input {display: none;}

  .radio-label {
    cursor: pointer;
    padding: 10px 14px;
    width: 50%;
    font-size: 1rem;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
  }

  .radio-label.lang   { border-radius: 18px 0 0 0 }
  .radio-label.fworks { border-radius: 0 18px 0 0 }
  .radio-label.tools  { border-radius: 0 0 0 18px }
  .radio-label.db     { border-radius: 0 0 18px 0 }

  .radio-label:not(:last-of-type) {border-right: 1px solid vars.$dark-blue;}

  .radio-input:checked + .radio-label {
    background-color: vars.$dark-blue;
    color: vars.$light-text;
  }
}

@media (min-width: 768px) {
  section#skills {
    .skills-radio {
      @include mixin.flex-row;
    }

    .top {
      border-bottom: none;
      border-right: 1px solid vars.$dark-blue;
    }

    .radio-label.lang   { border-radius: 18px 0 0 18px; }
    .radio-label.fworks,
    .radio-label.tools  { border-radius: 0px; }
    .radio-label.db     { border-radius: 0 18px 18px 0; }
  }
}

@media (min-width: 1024px) {
  section#skills {
    .skills-radio {
      width: 50%;
    }

    .top, .bottom {
      width: 100%;
    }

    .skills-radio, .top, .bottom {
      flex-direction: column;
    }

    .top {
      border: none;
      align-items: center;
    }

    .radio-label, .radio-label:not(:last-of-type) {
      width: 90%;
      border-right: none;
      border-bottom: 1px solid vars.$dark-blue;
      border-radius: 0px;
    }

    .radio-label.db {
      border: none;
      border-radius: 0px;
    }

    .radio-label.lang   { border-radius: 18px 18px 0 0; }
    .radio-label.fworks,
    .radio-label.tools  { border-radius: 0px; }
    .radio-label.db     { border-radius: 0 0 18px 18px; }
  }
}
