@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as vars;

/* back to home arrow */
.home-arrow {
  padding: 10px;
  margin: 30px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  background-color: var(--black);
  display: inline-block;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 100;
  transition: opacity 0.3s, visibility 0.3s ease;
}

.home-arrow i {
  font-size: 20px;
  color: var(--light);
}

/* to about section arrow */
.about-chevron {
  font-size: 3rem;
  color: var(--light);
  opacity: 0.5;
  text-align: center;
  margin-top: 170px;
}

.about-chevron.slide-up-dark {
  animation-delay: 5s;
  animation: slideUpDark 3s ease;
}

/* skills radio buttons */
section#skills {
  .skills-radio {
    border: 1px solid vars.$dark-blue;
    border-radius: 20px;
    width: 80%;
  }

  .top, .bottom {
    @include mixin.flex-row;
  }

  .top { border-bottom: 1px solid vars.$dark-blue; }

  .radio-input {display: none;}

  .radio-label {
    cursor: pointer;
    padding: 8px 14px;
    width: 50%;
    font-size: 0.8rem;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
  }

  .radio-label.lang { border-radius: 18px 0 0 0 }
  .radio-label.fworks { border-radius: 0 18px 0 0 }
  .radio-label.tools { border-radius: 0 0 0 18px }
  .radio-label.db { border-radius: 0 0 18px 0 }

  .radio-label:not(:last-of-type) {border-right: 1px solid vars.$dark-blue;}

  .radio-input:checked + .radio-label {
    background-color: vars.$dark-blue;
    color: vars.$light-text;
  }
}
