@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as vars;

.project-card {
  @include mixin.flex-col;
  align-items: flex-start;
  gap: 0.5rem;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;

  &__text {
    @include mixin.flex-col;
    align-items: flex-start;
    gap: 0.5rem;
  }

  &__image {
    margin: auto;
    box-shadow: vars.$light-shadow;
    border-radius: 10px;

    img {
      border-radius: 10px;
      object-fit: cover;
    }
  }

  &__title {
    // align-self: flex-start;
  }

  &__tech-icons-container {
    @include mixin.flex-row;
    gap: 0.5rem;
    padding: 0.5rem 0;
  }

  &__links {
    @include mixin.flex-row;
    gap: 1rem;
    justify-self: flex-end;
    padding-top: 0.5rem;
  }

  &__link {
    border: 1px solid vars.$dark-blue;
    border-radius: 10px;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 1024px) {
  .project-card {
    flex-direction: row;
    gap: 2rem;
    padding: 2rem;

    &:hover {
    box-shadow: vars.$shadow;
  }
  }
}
