@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as vars;

.project-card__tech-icons-container {
  i {
    font-size: 3rem;
  }
}

.project-card__links, nav button {
  i {
    font-size: 1.5rem;
  }
}

footer {
  .footer-icon {
    font-size: 2rem;
    color: vars.$dark-blue;
  }
}

section#skills {
  .skills-icons {
    font-size: 2.5rem;
    color: vars.$dark-blue;
    transition: all 0.5s ease-in-out;
  }
}

.fa-copy {
  font-size: 1.5rem;
}

@media (min-width: 1200px) {
  section#skills {
    .skills-icons {
      font-size: 3rem;
    }
  }

  .project-card__tech-icons-container {
    i {
      font-size: 2rem;
    }
  }
}
