@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as vars;

.project-card__tech-icons-container {
  i {
    font-size: 3rem;

    &:hover {
      @include mixin.icon-hover;
    }
  }
}

.project-card__links, header#global-btns button {
  i {
    font-size: 1.5rem;
  }
}

footer {
  .footer-icon {
    font-size: 2rem;
    color: vars.$dark-blue;

    &:hover {
      @include mixin.icon-hover;
    }
  }
  .fa-solid.fa-check {
    font-size: 2rem;
    color: vars.$dark-blue;
  }
}

.template-icon-class {
  font-size: 2.5rem;
  color: vars.$dark-blue;
  transition: all 0.3s ease-in-out;
}

.fa-copy {
  font-size: 1.5rem;
}

@media (min-width: 1200px) {
  .template-icon-class {
    font-size: 3rem;
  }

  .project-card__tech-icons-container {
    i {
      font-size: 2rem;
    }
  }
}
