@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as vars;

.slide-up {
  animation: slideUp 1.2s ease;
}
.slide-up-dark {
  animation: slideUpDark 0.8s ease;
}
.fade {
  opacity: 0.4;
  filter: blur(1px);
}
.expand {
  transform: scale(1.3);
  color: vars.$selected;
}

/* slide element up */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideUpDark {
  from {
    opacity: 0;
    transform: translate3d(0, 70%, 0);
  }

  to {
    opacity: 0.8;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes shake {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(15deg);
  }
}
