@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as vars;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-optical-sizing: auto;
  font-style: normal;
}

.lang-ja {
  display: none;
}

body.ja-mode .lang-en {
  display: none;
}

body.ja-mode .lang-ja {
  display: inline;
}

header, main, footer {
  padding: vars.$page-padding-xs;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 5rem;
  line-height: 120%;
  letter-spacing: 1px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 4rem;
  margin-bottom: 1rem;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
}

h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.3rem;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
}

button, .radio-label {
  font-family: "Raleway", sans-serif;
}

a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: inherit;
}

.highlight {
  color: vars.$selected;
  font-weight: 600;
}

@media (min-width: 768px) {
  header, main, footer {
    padding: vars.$page-padding-md;
  }
}

@media (min-width: 1200px) {
  header, main, footer {
    padding: vars.$page-padding-lg;
  }
}
