@use '../abstracts/mixins' as mixin;
@use '../abstracts/variables' as vars;

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: whitesmoke;
  color: black;
  width: 100%;
  position: relative;
  overscroll-behavior-y: none;
}

header, main, footer {
  padding: vars.$page-padding-xs;
}

p {
  line-height: 150%;
}

@media (min-width: 768px) {
  header, main, footer {
    padding: vars.$page-padding-md;
  }
}

@media (min-width: 1024px) {
  header, main, footer {
    padding: vars.$page-padding-lg;
  }
}
