.small {
  line-height: 30%;
}

.project-card {
  /* width: 50%; */
  border-radius: 10px;
  background-color: var(--blue);
  box-shadow: var(--shadow);
  /* text-align: center; */
  /* display: flex; */
}

.project-card-title-text {
  text-align: center;
}

.project-info .slides {
  display: flex;
}

.project-info img {
  width: 35vw;
  padding: 10px 0px 10px 26px;
  object-fit: contain;
}

.project-info ul {
  padding-right: 10px;
}

.project-info p {
  /* margin: auto; */
}

.about-card {
  background-color: var(--blue);
  padding: 20px;
  border-radius: 20px;
  width: 40vw;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s ease;
  box-shadow: var(--shadow);
}

.about-card.visible {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.about-card.hidden {
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  pointer-events: none;
}

.about-card h2 {
  text-align: center;
}


.contact-card {
  padding: 20px;
  border-radius: 20px;
  margin: auto;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.music-card {
  background-color: var(--blue);
  width: 60vw;
  /* padding: 20px; */
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flip-album-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  perspective: 1000px;
  transform-style: preserve-3d;
}

.flip-album {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: var(--shadow);
  cursor: pointer;
  text-align: center;
  -webkit-transform: transform 0.6s;
  transform: transform 0.6;
  transform-style: preserve-3d;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform-origin: center center;
}

.flip-album.tilt {
  transform: rotateY(40deg) scale(0.8);
}

.flip-album.flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.album-art {
  width: 100%;
  border-radius: 12px;
}

.flip-album-front img{
  margin: 0;
  height: 350px;
}

.flip-album-front, .flip-album-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
}

.flip-album-front {
  height: 100%;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.flip-album-back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  position: absolute;
  text-align: center;
  right: 0;
  left: 0;
  top: 10px;
}
