/* general card styling */
.small {line-height: 30%;}

/* about card */
.about-card {
  background-color: var(--light);
  padding: 20px;
  border-radius: 20px;
  /* width: 40vw; */
  box-shadow: var(--shadow);
  position: relative;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.about-info {height: 50%;}

.about-info li {margin-bottom: 20px;}

/* project card and music album card */
.project-card, .album-card {
  position: relative;
  border-radius: 20px;
  background-color: var(--light);
  box-shadow: var(--shadow);
  transition: transform 0.3s ease-in-out;
}

.project-card:hover, .album-card:hover {transform: scale(1.03);}

.project-card-header, .album-card-header {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project-title, .album-title {width: 70%;}

.project-info {
  width: 90%;
  height: 50%;
  margin: auto;
}

.project-image, .album-art {overflow: hidden;}

.project-image img, .album-art img {
  border-radius: 0px 0px 20px 20px;
  width: 100%;
  object-fit: cover;
  display: block;
  background-size: cover;
}

.project-image img {height: 350px;}

.album-art img {height: auto}

.project-card-overlay, .album-card-overlay {
  position: absolute;
  bottom: 85%;
  left: 0;
  right: 0;
  background-color: var(--light);
  border-radius: 0px 0px 20px 20px;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.project-card-overlay.show, .album-card-overlay.show {
  bottom: 0;
  height: 85%;
}

/* music card */
.music-card {
  background-color: var(--light);
  padding: 20px;
  border-radius: 20px;
  width: 40vw;
  box-shadow: var(--shadow);
  margin: auto;
  margin-top: 50px;
}

.iframe-box {
  margin-top: 10px;
  height: 60%;
}

iframe {
  width: 90%;
  height: 300px;
  margin-top: 20px;
}

.album-info {
  display: inline-block;
  text-align: left;
}

/* contact card */
.contact-card {
  border-radius: 20px;
  margin: auto;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
