.small {
  line-height: 30%;
}

.project-card {
  /* width: 50%; */
  border-radius: 10px;
  background-color: var(--blue);
  /* text-align: center; */
  /* display: flex; */
}

.project-card-title-text {
  text-align: center;
}

.project-info .slides {
  display: flex;
}

.project-info img {
  width: 35vw;
  padding: 10px 0px 10px 26px;
  object-fit: contain;
}

.project-info ul {
  padding-right: 10px;
}

.project-info p {
  /* margin: auto; */
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 20px 20px;
  border-radius: 20px;
  background-color: var(--dark-blue);
}

.about-card {
  background-color: var(--blue);
  padding: 20px;
  border-radius: 20px;
  width: 40vw;
}

.contact-card {
  background-color: var(--blue);
  padding: 20px;
  border-radius: 20px;
  margin: auto;
  width: 20vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music-card {
  background-color: var(--blue);
  width: 25vw;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

iframe {
  width: 30vw;
}
