/* general card styling */
.small {
  line-height: 30%;
}

/* about card */
.about-card {
  background-color: var(--light);
  padding: 20px;
  border-radius: 20px;
  width: 40vw;
  box-shadow: var(--shadow);
  position: relative;
  flex: 1;
  /* opacity: 0; */
  transition: opacity 0.3s, visibility 0.3s ease;
}

.about-card + .about-card {
  margin-top: -260px;
}

#experience-card {
  z-index: 3;
}

#interests-card {
  z-index: 2;
}

#education-card {
  z-index: 1;
}

.about-card.visible {
  opacity: 1;
  visibility: visible;
  /* z-index: 1; */
}

.hidden {
  opacity: 0;
  visibility: hidden;
  /* z-index: 0; */
  pointer-events: none;
}

.about-card h2 {
  text-align: center;
}

/* project card and music album card */
.project-card, .album-card {
  position: relative;
  border-radius: 20px;
  background-color: var(--light);
  box-shadow: var(--shadow);
  transition: transform 0.3s ease-in-out;
}

.project-card:hover, .album-card:hover {
  transform: scale(1.03);
}

.project-card-header, .album-card-header {
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project-title, .album-title {
  width: 70%;
}

.project-info {
  width: 90%;
  height: 50%;
  margin: auto;
}

.project-image, .album-art {
  overflow: hidden;
}

.project-image img, .album-art img {
  border-radius: 0px 0px 20px 20px;
  width: 100%;
  object-fit: cover;
  display: block;
  background-size: cover;
}

.project-image img {
  height: 350px;
}

.album-art img {
  height: auto
}

.project-image.darken, .album-art.darken {
  animation: darken 0.4s ease
}

.project-card-overlay, .album-card-overlay {
  position: absolute;
  bottom: 85%;
  left: 0;
  right: 0;
  background-color: var(--light);
  border-radius: 0px 0px 20px 20px;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.project-card-overlay.show, .album-card-overlay.show {
  bottom: 0;
  height: 85%;
}

.album-card-overlay {
  text-align: center;
}

/* music card */
.music-card {
  background-color: var(--light);
  padding: 20px;
  border-radius: 20px;
  width: 40vw;
  box-shadow: var(--shadow);
  position: relative;
  margin: auto;
}

.iframe-box {
  margin-top: 10px;
  height: 60%;
  border: 1px solid black;
}

iframe {
  width: 90%;
  height: 300px;
}

/* contact card */
.contact-card {
  border-radius: 20px;
  margin: auto;
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
