/* banner container */
.banner {
  position: relative;
  width: 100%;
  /* min-height: 80vh; */
  padding: 0px 0px 45px 0px;
}

/* about container */
.about {
  width: 100%;
  /* height: 60vh; */
  padding: 55px 0px 45px 0px;
}

.about-header {
  text-align: center;
}

.about-container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin: auto;
}

/* projects container */
.projects, .music {
  width: 100%;
  padding: 55px 0px 55px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

/* skills container */
.skills {
  width: 100%;
  padding: 55px 0px 45px 0px;
  text-align: center;
}

.skills-header h1 {
  margin-bottom: 20px;
}

.skills-container {
  background-color: var(--light);
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  box-shadow: var(--shadow);
}

.card-and-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.all-albums {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

/* contact container */
.contact {
  width: 100%;
  padding: 10px 0px 45px 0px;
  background-color: var(--black);
  text-align: center;
}
