/* banner container */
.banner {
  position: relative;
  width: 100%;
  min-height: 80vh;
  padding: 0px 0px 55px 0px;
}

/* about container */
.about {
  width: 100%;
  /* height: 60vh; */
  padding: 55px 0px 55px 0px;
}

.about-header {text-align: center;}

.about-container {
  display: grid;
  gap: 40px;
  width: 80%;
  margin: 20px;
}

#experience-card {
  grid-column: 2;
}

#interests-card {
  grid-column: 1;
}

#education-card {
  grid-column: 3;
}

/* projects container */
.projects, .music {
  width: 100%;
  padding: 55px 0px 55px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
}

.projects-container {
  display: grid;
  gap: 40px;
  margin-top: -25px;
}

/* skills container */
.skills {
  width: 100%;
  padding: 55px 0px 45px 0px;
  text-align: center;
}

.skills-header h1 {
  margin-bottom: 20px;
}

.skills-container {
  background-color: var(--light);
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
  display: inline-grid;
  box-shadow: var(--shadow);
}

.card-and-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

#about-card-container {
  margin-top: -25px;
}

.all-albums {
  display: grid;
  grid-gap: 40px;
  margin-top: -25px;
}

/* contact container */
.contact {
  width: 100%;
  padding: 10px 0px 55px 0px;
  background-color: var(--black);
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .about-container{
    margin-top: -4px;
  }
  .projects-container, .all-albums {
    grid-template-columns: repeat(1, 1fr);
    margin-top: -45px;
  }
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .projects-container, .all-albums {grid-template-columns: repeat(1, 1fr);}
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .projects-container {grid-template-columns: repeat(1, 1fr);}
  .skills-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
  .all-albums {
    grid-template-columns: repeat(3, 1fr);
  }
  .about-container {
    width: 50%;
  }
}

@media only screen and (min-width: 1210px) {
  .projects-container {grid-template-columns: repeat(2, 1fr);}
  .about-container {
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
  }
}

@media only screen and (max-width: 1210px) {
  .about-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #experience-card {
    grid-column: 1;
    grid-row: 1;
  }
  #interests-card {
  grid-column: 1;
    grid-row: 2;
  }
  #education-card {
    grid-column: 1;
    grid-row: 3;
  }
}
