.banner {
  width: 100vw;
  height: 90vh;
}

.projects {
  width: 100vw;
  padding: 55px 0px 45px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 40px;
}

.skills {
  width: 100vw;
  padding: 55px 0px 45px 0px;
  text-align: center;
}

.skills-container {
  background-color: var(--blue);
  padding: 20px;
  border-radius: 20px;
  display: inline-grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
}

.about {
  width: 100vw;
  padding: 55px 0px 45px 0px;
}

.about-header {
  text-align: center;
}

.about-container {
  display: flex;
  justify-content: center;
  margin: auto;
}

.contact {
  height: 40vh;
  width: 100vw;
  padding: 55px 0px 45px 0px;
  text-align: center;
}

.music {
  width: 100vw;
  padding: 55px 0px 45px 0px;
  text-align: center;
}

.music-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
