/* general icons */
.icons-container i, .skills-container i {font-size: 50px;}

/* general icons container */
.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 20px 20px;
  border-radius: 20px;
  border: 3px solid var(--dark-blue);
  background-color: var(--light);
}

/* devicons */
.devicon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 50%;
  width: 50%;
  color: black;
  transition: opacity 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

/* project icons */
.project-links {
  width: 10vw;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-links i {
  font-size: 40px;
  transition: transform 0.3s ease-in-out;
}

.project-links i:hover {transform: scale(1.1);}

/* contact icons */
.contact i {
 font-size: 50px;
 color: var(--light);
 opacity: 0.6;
 transition: transform 0.3s ease-in-out;
}

.contact i:hover {
  transform: scale(1.1);
  opacity: 1;
}

.contact-icons-all {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

/* music icons */
.music-icons {
  margin: auto;
  width: 10vw;
  font-size: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  border: 3px solid var(--dark-blue);
}

.music-icons i {transition: transform 0.3s ease-in-out;}

.music-icons i:hover {transform: scale(1.1);}
