/* general icons */
.icons-container i, .skills-container i {
  font-size: 50px;
}

/* general icons container */
.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 20px 20px;
  border-radius: 20px;
  border: 3px solid var(--dark-blue);
  background-color: var(--light);
}

/* devicons */
.devicon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 50%;
  width: 50%;
  color: black;
  transition: opacity 0.5s;
}

.devicon.fade {
  opacity: 0.2;
}

.devicon.expand {
  transform: scale(1.2);
  transition: transform 0.5s ease-in;
}

/* project icons */
.project-links {
  width: 10vw;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project-links i {
  font-size: 40px;
}

.project-links i:hover {
  transform: scale(1.1);
}

/* contact icons */
.contact i {
 font-size: 50px;
 color: var(--light);
}

.contact-icons-all {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

/* music icons */
.music-icons {
  margin: auto;
  width: 10vw;
  font-size: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  border: 3px solid var(--dark-blue);
}
