.skills-container i {
  font-size: 50px;
}

.icons-container i {
  font-size: 50px;
}

.home-arrow {
  padding: 10px;
  margin: 30px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  background-color: var(--dark-grey);
  display: inline-block;
  position: sticky;
  bottom: 0px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.home-arrow i {
  font-size: 20px;
  color: white;
}

.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px 20px 20px;
  border-radius: 20px;
  border: 3px solid var(--dark-blue);
  background-color: var(--blue);
}

.arrows {
  font-size: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 30vw;
  margin: auto;
  padding-bottom: 10px;
}

#arrow {
  cursor: pointer;
}

.devicon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 50%;
  width: 50%;
  color: black;
}

.contact i {
 font-size: 50px;
}

.contact-icons-all {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.music-icons {
  margin: auto;
  width: 10vw;
  font-size: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  border: 3px solid var(--dark-blue);
}
