.darken {
  animation: darken 0.5s ease;
  filter: brightness(0);
}

.brighten {animation: brighten 0.6s ease;}
.hidden {opacity: 0;}
.slide-up {animation: slideUp 1.2s ease;}
.slide-up-dark {animation: slideUpDark 0.8s ease;}
.slide-up-expand {animation: slideUpExpand 1.2s ease;}
.slide-up-fade {animation: slideUpFade 1.2s ease;}
.slide-right {animation: slideRight 3s ease;}
.slide-left {animation: slideLeft 3s ease;}
.slide-right-center {animation: slideRightCenter 3s ease;}
.slide-left-center {animation: slideLeftCenter 3s ease;}

.fade {
  opacity: 0.2;
  filter: blur(1px);
}

.expand {transform: scale(1.1);}

/* color gradient */
@keyframes gradient {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 25% 50%;
  }
  100% {
    background-position: 0% 25%;
  }
}

/* darken element */
@keyframes darken {
  0% {
    filter: brightness(1)
  }
  25% {
    filter: brightness(0.8)
  }
  50% {
    filter: brightness(0.6)
  }
  75% {
    filter: brightness(0.4)
  }
  100% {
    filter: brightness(0.2)
  }
}

/* brighten element */
@keyframes brighten {
  0% {
    filter: brightness(0.2)
  }
  25% {
    filter: brightness(0.4)
  }
  50% {
    filter: brightness(0.6)
  }
  75% {
    filter: brightness(0.8)
  }
  100% {
    filter: brightness(1)
  }
}

/* slide element up */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideUpDark {
  from {
    opacity: 0;
    transform: translate3d(0, 70%, 0);
  }

  to {
    opacity: 0.8;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideUpExpand {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0) scale(1);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1.1);
  }
}

@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }

  to {
    opacity: 0.2;
    transform: translate3d(0, 0, 0);
  }
}

/* slide element to right */
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-900px);
  }
  100% {
    opacity: 1;
    transform: translateX(-154px);
  }
}
/* slide element to right mobile */
@keyframes slideRightCenter {
  0% {
    opacity: 0;
    transform: translateX(-900px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* slide element to left */
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(900px);
  }
  100% {
    opacity: 1;
    transform: translateX(192);
  }
}
/* slide element to left mobile */
@keyframes slideLeftCenter {
  0% {
    opacity: 0;
    transform: translateX(900px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
