.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 1;
  top: 0px;
  overflow: hidden;
  background-color: var(--dark-grey);
  transition: background-color 0.3s ease;
}

.my-projects-links, .about-contact-links {
  display: flex;
}

.my-projects-links {
  width: 50vw;
  justify-content: space-between;
}

.about-contact-links {
  width: 30vw;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-right: 0;
}

.navbar-links {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-links a {
  color: azure;
  cursor: pointer;
}

.nav-link {
  padding: 0px 10px 0px 10px;
}

.nav-link.active {
  background-color: var(--selected);
  border-radius: 10px;
  color: black;
  opacity: 0.5s;
}
