/* navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0px;
  overflow: hidden;
  background-color: var(--black);
  transition: background-color 0.5s ease;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar-links {
  position: relative;
  width: 90%;
}

.navbar-links a {
  color: var(--light);
  cursor: pointer;
}

.nav-link {
  position: relative;
  transition: color 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.1);
  color: var(--pink);
}

.nav-link.active {color: var(--selected);}

.nav-link.active h3 {font-weight: 500;}

.burger-menu {
  position: fixed;
  height: 35x;
  width: 50px;
  top: 50px;
  right: 25px;
  z-index: 200;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.line {
  display: block;
  height: 3px;
  width: 100%;
  z-index: 200;
  border-radius: 10px;
  background: white;
}

.line1 {
  margin-bottom: 10px;
  transition: 0.3s ease;
}
.line2 {
  transition: 0.3s ease;
}
.line3 {
  margin-top: 10px;
  transition: 0.3s ease;
}

.clicked-down { transform: rotate(45deg) translateY(18px);}
.clicked-up { transform: rotate(-45deg) translateY(-18px);}

.nav-overlay {
  text-align: center;
}

.nav-overlay.show {display: block}

.nav-overlay ul{
  margin-top: 90px;
  margin-left: 0px;
}
.nav-overlay li {list-style-type: none;}
.nav-overlay h3 {font-size: 2rem;}

/* @media only screen and (max-width: 600px) {
  .nav-overlay {
    display: block;
  }
  .top-nav {display: none;}
  .navbar {
    justify-content: flex-start;
  }
} */

/* @media only screen and (min-width: 601px) {
  .nav-overlay, .burger-menu {display: none;}
} */
