/* navbar */
.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0px;
  overflow: hidden;
  background-color: var(--black);
  transition: background-color 0.5s ease;
}

.navbar-links {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-links a {
  color: var(--light);
  cursor: pointer;
}

.nav-link {
  position: relative;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  transition: background-color 0.5s;
  transition: color 0.5s;
  transition: transform 0.3s ease-in-out;
}

.nav-link:hover {
  transform: scale(1.1);
}

.nav-link.active {
  color: black;
}

.highlight {
  position: absolute;
  background-color: var(--selected);
  border-radius: 20px;
  transition: all 0.3s ease;
  z-index: 0;
  pointer-events: none;
}

/* .burger-menu {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.burger-menu.line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: white;
} */
