* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: whitesmoke;
  color: black;
  width: 100%;
  position: relative;
  overscroll-behavior-y: none;
}

header, main, footer {
  padding: 0 1rem;
}

p {
  line-height: 150%;
}

@media (min-width: 768px) {
  header, main, footer {
    padding: 0 2rem;
  }
}
@media (min-width: 1024px) {
  header, main, footer {
    padding: 0 6rem;
  }
}
.banner h1 {
  font-size: 5rem;
  color: white;
  margin: 60px 0px 0px 0px;
}

.banner-text-section {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: center;
}

.banner-text-section > * {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .banner-text-section {
    text-align: center;
    margin-top: 0px;
  }
  .banner-text-left, .banner-text-right {
    margin: 0px;
  }
  .banner-text-right h1 span.highlight {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 600px) {
  .banner-text-section {
    text-align: center;
  }
  .banner-text-left, .banner-text-right {
    margin: 0px;
  }
}
@media only screen and (min-width: 1210px) {
  .banner-text-left {
    margin: 0px;
    transform: translateX(-154px);
  }
  .banner-text-right {
    margin: 0px;
    transform: translateX(192px);
  }
}
/* back to home arrow */
.home-arrow {
  padding: 10px;
  margin: 30px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  background-color: var(--black);
  display: inline-block;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 100;
  transition: opacity 0.3s, visibility 0.3s ease;
}

.home-arrow i {
  font-size: 20px;
  color: var(--light);
}

/* to about section arrow */
.about-chevron {
  font-size: 3rem;
  color: var(--light);
  opacity: 0.5;
  text-align: center;
  margin-top: 170px;
}

.about-chevron.slide-up-dark {
  animation-delay: 5s;
  animation: slideUpDark 3s ease;
}

/* plus button project */
.plus, .music-plus {
  font-size: 30px;
  cursor: pointer;
  color: var(--black);
  transition: transform 0.3s ease-in-out;
  transform: rotate(0deg);
}

.rotate {
  transform: rotate(45deg);
}

/* radio buttons */
.radio, .skills-radio {
  display: inline-flex;
  overflow: hidden;
  margin: 0px 0px 20px 0px;
  border-radius: 15px;
  box-shadow: 0 0 5px var(--dark-grey);
  text-align: center;
  height: 100%;
}

.radio-input {
  display: none;
}

.radio-label {
  padding: 8px 14px;
  color: var(--light);
  background-color: var(--black);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.radio-label:not(:last-of-type) {
  border-right: 1px solid var(--grey);
}

.radio-input:checked + .radio-label {
  background-color: var(--selected);
  color: black;
}

/* button to music portfolio */
.music-site-link {
  text-align: center;
  margin: auto;
  margin: 20px 0 10px 0;
}

.music-site-link > a {
  border: 1px solid black;
  padding: 10px;
  border-radius: 30px;
  background: var(--pink);
  transition: all 0.2s ease-in-out;
}

.music-site-link > a:hover {
  background: var(--selected);
}

@media only screen and (max-width: 600px) {
  .home-arrow {
    display: none;
  }
  .radio-label {
    width: 16vw;
    font-size: 12px;
  }
  .about-chevron {
    margin-top: 18px;
  }
}
@media only screen and (min-width: 600px) {
  .home-arrow {
    display: none;
  }
  .radio-label {
    width: 12vw;
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) {
  .home-arrow {
    display: block;
  }
  .project-all, .music-all {
    width: 70%;
  }
  .radio-label {
    width: 8vw;
    font-size: 14px;
  }
  #mobile-chevron {
    margin-top: 0px;
  }
}
@media only screen and (min-width: 1210px) {
  .home-arrow {
    display: block;
  }
  .project-all, .music-all {
    width: 70%;
  }
  .radio-label {
    width: 6vw;
    font-size: 14px;
  }
  #mobile-chevron {
    margin-top: 0px;
  }
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 0.5rem;
  box-shadow: 0 0px 6px rgba(0, 2, 33, 0.6);
  border-radius: 10px;
  padding: 1rem;
}
.project-card__image {
  width: 100%;
}
.project-card__tech-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.project-card__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-self: flex-end;
}
.project-card__link {
  border: 0.5px solid #030e2a;
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

/* banner container */
.banner {
  position: relative;
  width: 100%;
  min-height: 80dvh;
  padding: 0px 0px 55px 0px;
}

/* about container */
.about {
  width: 100%;
  /* height: 60vh; */
  padding: 55px 0px 55px 0px;
}

.about-header {
  text-align: center;
}

.about-container {
  display: grid;
  gap: 40px;
  width: 80%;
  margin: 20px;
}

#experience-card {
  grid-column: 2;
}

#interests-card {
  grid-column: 1;
}

#education-card {
  grid-column: 3;
}

/* projects container */
.projects, .music {
  width: 100%;
  padding: 55px 0px 55px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
}

.projects-container {
  display: grid;
  gap: 40px;
}

/* skills container */
.skills {
  width: 100%;
  padding: 55px 0px 45px 0px;
  text-align: center;
}

/* .skills-header h2 {
  margin-bottom: 20px;
} */
.skills-container {
  background-color: var(--light);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  display: inline-grid;
  box-shadow: var(--shadow);
}

.card-and-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

/* #about-card-container {
  margin-top: -25px;
} */
.all-albums {
  display: grid;
  grid-gap: 40px;
  margin-top: -25px;
}

/* contact container */
.contact {
  width: 100%;
  padding: 10px 0px 55px 0px;
  background-color: var(--black);
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .about-container {
    margin-top: -4px;
  }
  .projects-container, .all-albums {
    grid-template-columns: repeat(1, 1fr);
  }
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media only screen and (min-width: 600px) {
  .projects-container, .all-albums {
    grid-template-columns: repeat(1, 1fr);
  }
  .skills-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
@media only screen and (min-width: 768px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .skills-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
  }
  .all-albums {
    grid-template-columns: repeat(3, 1fr);
  }
  .about-container {
    width: 50%;
  }
}
@media only screen and (min-width: 1210px) {
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .about-container {
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
  }
}
@media only screen and (max-width: 1210px) {
  .about-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  #experience-card {
    grid-column: 1;
    grid-row: 1;
  }
  #interests-card {
    grid-column: 1;
    grid-row: 2;
  }
  #education-card {
    grid-column: 1;
    grid-row: 3;
  }
}
.project-card__tech-icons-container i, footer i {
  font-size: 2rem;
}

.project-card__links i {
  font-size: 1.5rem;
}

.fa-copy {
  font-size: 1.5rem;
}

/* general icons container */
.icons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px 5px 20px;
  border-radius: 20px;
  border: 3px solid var(--dark-blue);
  background-color: var(--light);
}

/* devicons */
.devicon {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 50%;
  width: 50%;
  color: black;
  transition: opacity 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.darken {
  animation: darken 0.5s ease;
  filter: brightness(0);
}

.brighten {
  animation: brighten 0.6s ease;
}

.hidden {
  opacity: 0;
}

.slide-up {
  animation: slideUp 1.2s ease;
}

.slide-up-dark {
  animation: slideUpDark 0.8s ease;
}

.slide-up-expand {
  animation: slideUpExpand 1.2s ease;
}

.slide-up-fade {
  animation: slideUpFade 1.2s ease;
}

.slide-right {
  animation: slideRight 3s ease;
}

.slide-left {
  animation: slideLeft 3s ease;
}

.slide-right-center {
  animation: slideRightCenter 3s ease;
}

.slide-left-center {
  animation: slideLeftCenter 3s ease;
}

.fade {
  opacity: 0.2;
  filter: blur(1px);
}

.expand {
  transform: scale(1.1);
}

/* color gradient */
@keyframes gradient {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 25% 50%;
  }
  100% {
    background-position: 0% 25%;
  }
}
/* darken element */
@keyframes darken {
  0% {
    filter: brightness(1);
  }
  25% {
    filter: brightness(0.8);
  }
  50% {
    filter: brightness(0.6);
  }
  75% {
    filter: brightness(0.4);
  }
  100% {
    filter: brightness(0.2);
  }
}
/* brighten element */
@keyframes brighten {
  0% {
    filter: brightness(0.2);
  }
  25% {
    filter: brightness(0.4);
  }
  50% {
    filter: brightness(0.6);
  }
  75% {
    filter: brightness(0.8);
  }
  100% {
    filter: brightness(1);
  }
}
/* slide element up */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideUpDark {
  from {
    opacity: 0;
    transform: translate3d(0, 70%, 0);
  }
  to {
    opacity: 0.8;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideUpExpand {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0) scale(1);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1.1);
  }
}
@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 0.2;
    transform: translate3d(0, 0, 0);
  }
}
/* slide element to right */
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-900px);
  }
  100% {
    opacity: 1;
    transform: translateX(-154px);
  }
}
/* slide element to right mobile */
@keyframes slideRightCenter {
  0% {
    opacity: 0;
    transform: translateX(-900px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* slide element to left */
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(900px);
  }
  100% {
    opacity: 1;
    transform: translateX(192);
  }
}
/* slide element to left mobile */
@keyframes slideLeftCenter {
  0% {
    opacity: 0;
    transform: translateX(900px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 7rem 0 2rem 0;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10dvh;
  background: #030e2a;
  color: #e6f2ff;
  padding: 0 1rem;
}
nav p {
  font-size: 1.5rem;
}

section#projects .grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  section#projects .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
h1, .contact h3 {
  color: var(--light);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h2 {
  color: var(--light);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.main {
  overflow: auto;
  scroll-snap-type: y mandatory;
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  background-image: linear-gradient(-45deg, var(--grad-blue), var(--grad-darker-blue), rgba(104, 84, 20, 0.429), var(--grad-dark-blue), rgba(113, 14, 93, 0.35), var(--grad-darkest-blue));
}

.section-title {
  font-size: 3rem;
}

.hide {
  opacity: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.highlight {
  color: var(--selected);
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.project-all h2, .music-all h2, .about-card h3, .album-card-overlay {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
