@import "../node_modules/@splidejs/splide/dist/css/splide.min.css";
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-color: whitesmoke;
  color: #030e2a;
  width: 100%;
  position: relative;
  overscroll-behavior-y: none;
}

header, main, footer {
  padding: 0 1rem;
}

h1 {
  font-weight: 600;
  line-height: 140%;
}

h2 {
  font-weight: 600;
  margin-bottom: 1rem;
}

p {
  line-height: 2;
}

a {
  text-decoration: none;
  color: inherit;
}

.highlight {
  color: #004f9e;
  font-weight: 600;
}

@media (min-width: 768px) {
  header, main, footer {
    padding: 0 10rem;
  }
}
@media (min-width: 1024px) {
  main {
    padding: 0 18rem;
  }
  header, footer {
    padding: 0 20rem;
  }
}
/* back to home arrow */
.home-arrow {
  padding: 10px;
  margin: 30px;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  background-color: var(--black);
  display: inline-block;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  z-index: 100;
  transition: opacity 0.3s, visibility 0.3s ease;
}

.home-arrow i {
  font-size: 20px;
  color: var(--light);
}

/* to about section arrow */
.about-chevron {
  font-size: 3rem;
  color: var(--light);
  opacity: 0.5;
  text-align: center;
  margin-top: 170px;
}

.about-chevron.slide-up-dark {
  animation-delay: 5s;
  animation: slideUpDark 3s ease;
}

/* skills radio buttons */
section#skills .skills-radio {
  border: 1px solid #030e2a;
  border-radius: 20px;
  width: 90%;
}
section#skills .top, section#skills .bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
}
section#skills .top {
  border-bottom: 1px solid #030e2a;
}
section#skills .radio-input {
  display: none;
}
section#skills .radio-label {
  cursor: pointer;
  padding: 10px 14px;
  width: 50%;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
section#skills .radio-label.lang {
  border-radius: 18px 0 0 0;
}
section#skills .radio-label.fworks {
  border-radius: 0 18px 0 0;
}
section#skills .radio-label.tools {
  border-radius: 0 0 0 18px;
}
section#skills .radio-label.db {
  border-radius: 0 0 18px 0;
}
section#skills .radio-label:not(:last-of-type) {
  border-right: 1px solid #030e2a;
}
section#skills .radio-input:checked + .radio-label {
  background-color: #030e2a;
  color: #e6f2ff;
}

@media (min-width: 768px) {
  section#skills .skills-radio {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  section#skills .top {
    border-bottom: none;
    border-right: 1px solid #030e2a;
  }
  section#skills .radio-label.lang {
    border-radius: 18px 0 0 18px;
  }
  section#skills .radio-label.fworks,
  section#skills .radio-label.tools {
    border-radius: 0px;
  }
  section#skills .radio-label.db {
    border-radius: 0 18px 18px 0;
  }
}
@media (min-width: 1024px) {
  section#skills .skills-radio {
    width: 50%;
  }
  section#skills .top, section#skills .bottom {
    width: 100%;
  }
  section#skills .skills-radio, section#skills .top, section#skills .bottom {
    flex-direction: column;
  }
  section#skills .top {
    border: none;
    align-items: center;
  }
  section#skills .radio-label, section#skills .radio-label:not(:last-of-type) {
    width: 90%;
    border-right: none;
    border-bottom: 1px solid #030e2a;
    border-radius: 0px;
  }
  section#skills .radio-label.db {
    border: none;
    border-radius: 0px;
  }
  section#skills .radio-label.lang {
    border-radius: 18px 18px 0 0;
  }
  section#skills .radio-label.fworks,
  section#skills .radio-label.tools {
    border-radius: 0px;
  }
  section#skills .radio-label.db {
    border-radius: 0 0 18px 18px;
  }
}
.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.project-card__top-and-image {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 1rem;
}
.project-card__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.project-card__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: flex-start;
  gap: 0.5rem;
}
.project-card__tech-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0;
}
.project-card__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  justify-self: flex-end;
  padding-top: 0.5rem;
}
.project-card__link {
  border: 1px solid #030e2a;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  transition: all 0.1s ease-in-out;
}
.project-card__link:hover {
  background-color: #030e2a;
  color: rgb(232, 245, 248);
}
.project-card .splide__track, .project-card .splide__slide img {
  border-radius: 10px;
}

@media (min-width: 1024px) {
  .project-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }
  .project-card:hover {
    box-shadow: 0 0px 6px rgba(0, 2, 33, 0.316);
  }
}
.project-card__tech-icons-container i, footer i {
  font-size: 2rem;
}

.project-card__links i {
  font-size: 1.5rem;
}

section#skills .skills-icons {
  font-size: 2.5rem;
  color: #030e2a;
  transition: opacity 0.5s ease-in-out;
  transition: filter 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
}

.fa-copy {
  font-size: 1.5rem;
}

.darken {
  animation: darken 0.5s ease;
  filter: brightness(0);
}

.brighten {
  animation: brighten 0.6s ease;
}

.hidden {
  opacity: 0;
}

.slide-up {
  animation: slideUp 1.2s ease;
}

.slide-up-dark {
  animation: slideUpDark 0.8s ease;
}

.slide-up-expand {
  animation: slideUpExpand 1.2s ease;
}

.slide-up-fade {
  animation: slideUpFade 1.2s ease;
}

.slide-right {
  animation: slideRight 3s ease;
}

.slide-left {
  animation: slideLeft 3s ease;
}

.slide-right-center {
  animation: slideRightCenter 3s ease;
}

.slide-left-center {
  animation: slideLeftCenter 3s ease;
}

.fade {
  opacity: 0.2;
  filter: blur(1px);
}

.expand {
  transform: scale(1.1);
}

/* color gradient */
@keyframes gradient {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 25% 50%;
  }
  100% {
    background-position: 0% 25%;
  }
}
/* darken element */
@keyframes darken {
  0% {
    filter: brightness(1);
  }
  25% {
    filter: brightness(0.8);
  }
  50% {
    filter: brightness(0.6);
  }
  75% {
    filter: brightness(0.4);
  }
  100% {
    filter: brightness(0.2);
  }
}
/* brighten element */
@keyframes brighten {
  0% {
    filter: brightness(0.2);
  }
  25% {
    filter: brightness(0.4);
  }
  50% {
    filter: brightness(0.6);
  }
  75% {
    filter: brightness(0.8);
  }
  100% {
    filter: brightness(1);
  }
}
/* slide element up */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideUpDark {
  from {
    opacity: 0;
    transform: translate3d(0, 70%, 0);
  }
  to {
    opacity: 0.8;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideUpExpand {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0) scale(1);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1.1);
  }
}
@keyframes slideUpFade {
  from {
    opacity: 0;
    transform: translate3d(0, 10%, 0);
  }
  to {
    opacity: 0.2;
    transform: translate3d(0, 0, 0);
  }
}
/* slide element to right */
@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-900px);
  }
  100% {
    opacity: 1;
    transform: translateX(-154px);
  }
}
/* slide element to right mobile */
@keyframes slideRightCenter {
  0% {
    opacity: 0;
    transform: translateX(-900px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* slide element to left */
@keyframes slideLeft {
  0% {
    opacity: 0;
    transform: translateX(900px);
  }
  100% {
    opacity: 1;
    transform: translateX(192);
  }
}
/* slide element to left mobile */
@keyframes slideLeftCenter {
  0% {
    opacity: 0;
    transform: translateX(900px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
footer .footer-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: normal;
  gap: 1rem;
  margin: 8rem 0 5rem 0;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10dvh;
  background: #030e2a;
  color: #e6f2ff;
  padding: 0 1rem;
}
nav p {
  font-size: 1.5rem;
}

section#projects .grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 5rem;
}

@media (min-width: 1024px) {
  section#projects h2 {
    padding-left: 2rem;
  }
}
section#skills {
  margin: 2rem 0;
}
section#skills .card-and-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
section#skills .skills-icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1.5rem;
  width: 88%;
  padding: 1rem;
  box-shadow: 0 0px 6px rgba(0, 2, 33, 0.316);
  border-radius: 10px;
}

@media (min-width: 768px) {
  section#skills .card-and-button-container .skills-icons {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (min-width: 1024px) {
  section#skills {
    padding: 0 2rem;
  }
  section#skills .card-and-button-container {
    flex-direction: row-reverse;
  }
  section#skills .card-and-button-container .skills-icons {
    grid-template-columns: repeat(4, 1fr);
  }
}
.splide__slide img {
  width: 100%;
  height: auto;
  display: block;
}

.main {
  overflow: auto;
  scroll-snap-type: y mandatory;
  background-size: 400% 400%;
  animation: gradient 20s ease infinite;
  background-image: linear-gradient(-45deg, var(--grad-blue), var(--grad-darker-blue), rgba(104, 84, 20, 0.429), var(--grad-dark-blue), rgba(113, 14, 93, 0.35), var(--grad-darkest-blue));
}

.section-title {
  font-size: 3rem;
}

.hide {
  opacity: 0;
}

/*# sourceMappingURL=style.css.map */
